<div class="d-flex">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
    <li ngbNavItem="1">
      <a ngbNavLink> Create Message </a>
      <ng-template ngbNavContent>
        <app-interface></app-interface>
      </ng-template>
    </li>
    <li ngbNavItem="2">
      <a ngbNavLink> All Messages </a>
      <ng-template ngbNavContent>
        <app-output></app-output>
      </ng-template>
    </li>
    <li ngbNavItem="3">
      <a ngbNavLink> Options </a>
      <ng-template ngbNavContent>
        <app-options></app-options>
      </ng-template>
    </li>
    <li ngbNavItem="4">
      <a ngbNavLink> Forms Array </a>
      <ng-template ngbNavContent>
        <app-forms-array></app-forms-array>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="ml-4" style="width: 90%"></div>
</div>
