#main {
  width: 100%;
  margin: 10px auto 50px auto;
  font-family: "Segoe UI";
}

.danger > p {
  background-color: indianred;
  color: whitesmoke;
  display: inline-block;
  padding: 5px;
  border: 1px ridge darkred;
}

.info > p {
  background-color: darkseagreen;
  color: whitesmoke;
  display: inline-block;
  padding: 5px;
  border: 1px ridge green;
}

/*.btn {*/
/*  margin: 10px;*/
/*}*/

/* ##################################### Form Styling #########################################*/
.form-container{
  /*border: 2px solid indianred;*/
  border-radius: 5px;
  width: 50%;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  background-color: #3d395d;
  color: whitesmoke;
  /*position: relative;*/
}

/* ============================ For Image =============================*/
#image-div{
  display: flex;
  justify-content: center;
}

.img-circle{
  max-height: 200px;
  border-radius: 50%;
  margin: 10px auto;
}


/* This sets ng-select's font color */
.ng-placeholder{
  color: #9ca5ac !important;
}
.ng-value{
  color: lightgray !important;
}
.ng-select .ng-select-container:after{
  border-bottom: 3px solid #262437;
  border-bottom-style: groove;
}
.ng-input{
  color: lightgray !important;
}


input.text-input{
  border-bottom: 3px solid #262437;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  border-bottom-style: groove;
  padding: 10px;
  width: 100%;
  background-color: transparent;
  color: lightgray;
}

input:focus {
  outline: none;
}

input::placeholder{
  color: #9ca5ac;
}

.button{
  width: 52%;
}

#signup-page-login-button, #signup-page-signup-button{
  border: 3px solid whitesmoke;
  color: whitesmoke;
  font-size: 24px;
}

#signup-page-login-button:hover, #signup-page-signup-button:hover{
  background-color: whitesmoke;
  color: #3d395d;
}

#signup-page-signup-button{
  margin-bottom: 20px;
  margin-top: 30px;
}


