<div id="main">

  <div class="form-container">
    <h1 style="font-size: 44px; margin-top: 20px; margin-bottom: 20px;"> SIGN UP </h1>

    <form [formGroup]="myForm" (change)="formChanged()">

      <div id="image-div" class="form-component">
        <label>
            <span style="font-size: 18px">Select Profile Picture:</span><br>
          <img [src]="myForm.controls['imageURL'].value" alt="" *ngIf="myForm.controls['imageURL'].value" class="img-circle">
          <br>
          <input #imageInput type="file" accept="image/jpeg, image/png, image/jpg" (change)="readURL(imageInput)">
        </label>
      </div>


      <div id="title-div" class="form-component">
        <ng-select
          style="color: whitesmoke;"
          [items]="titleList"
          formControlName="Title"
          placeholder="Select Title">
        </ng-select>
      </div>

      <div class="form-component" id="fname-div">
        <input class="text-input" type="text" formControlName="FName"
               maxlength="12" placeholder="First Name"
               (input)="validateFName()">
        <div class="danger" *ngIf="!myForm.controls['FName'].valid && myForm.controls['FName'].touched">
          <p>
            The first name field is required.
          </p>
        </div>
        <div class="danger" *ngIf="!isFNameValid && myForm.controls['FName'].dirty
      && !(!myForm.controls['FName'].valid && myForm.controls['FName'].touched)">
          <p>
            The first name can't be spaces.
          </p>
        </div>
      </div>

      <br>

      <div class="form-component" id="lname-div">
        <input class="text-input" type="text" formControlName="LName"
               maxlength="12" placeholder="Last Name"
               (input)="validateLName()">
        <div class="danger" *ngIf="!myForm.controls['LName'].valid && myForm.controls['LName'].touched">
          <p>
            The last name field is required.
          </p>
        </div>
        <div class="danger" *ngIf="!isLNameValid && myForm.controls['LName'].dirty
      && !(!myForm.controls['LName'].valid && myForm.controls['LName'].touched)">
          <p>
            The last name can't be spaces.
          </p>
        </div>
      </div>

      <br>

      <div class="form-component" id="email-div">
        <input class="text-input" type="email" formControlName="Email" placeholder="Your Email">
        <div class="danger" *ngIf="!myForm.controls['Email'].valid && myForm.controls['Email'].touched">
          <p>
            The email field is invalid.
          </p>
        </div>
      </div>

      <br>

      <div class="form-component" id="password-div">
        <input class="text-input" type="password" formControlName="Password"
               maxlength="12" minlength="8" placeholder="Your Password">
        <div class="danger" *ngIf="!myForm.controls['Password'].valid && myForm.controls['Password'].touched">
          <p>
            Password must contain at least 1 lowercase letter, 1 uppercase letter, 1 number,
            1 special case letter and must be between 8 and 12 in length.
          </p>
        </div>
      </div>

      <br>

      <div class="form-component" id="confirmpassword-div">
        <input class="text-input" type="password" formControlName="ConfirmPassword"
               maxlength="12" minlength="8" placeholder="Confirm Password">
        <div class="danger"
             *ngIf="myForm.controls['ConfirmPassword'].touched &&
           myForm.controls['ConfirmPassword'].getError('NoPassswordMatch')">
          <p>
            Password and Confirm Password fields must match.
          </p>
        </div>
      </div>

      <br>

      <div class="form-component" id="address-div">
        <input class="text-input" type="text" formControlName="Address"
               maxlength="100" placeholder="Address"
               (input)="validateAddress()">
        <div class="danger" *ngIf="!myForm.controls['Address'].valid && myForm.controls['Address'].touched">
          <p>
            The address field is required.
          </p>
        </div>
        <div class="danger" *ngIf="!isLNameValid && myForm.controls['Address'].dirty
      && !(!myForm.controls['Address'].valid && myForm.controls['Address'].touched)">
          <p>
            The address can't be spaces.
          </p>
        </div>
      </div>

      <br>

      <div>

        <button type="submit" id="signup-page-signup-button"
                value="Sign Up" [disabled]="myForm.invalid" class="btn button"
                (click)="signup(myForm.value)">
          <span *ngIf="!isSigningUp">Sign Up</span>
          <loaders-css loader="line-scale" style="display: inline;"
                       [scale]="0.5" [color]="loaderColor" (mouseover)="loaderColor = '#3d395d'"
                       *ngIf="isSigningUp"></loaders-css>
        </button>


        <input type="button" id="signup-page-login-button"
               value="Login" class="btn button"
               (click)="goToLoginPage()">
      </div>

    </form>

  </div>

</div>


