<div *ngIf="course">
  <h2>
    {{course.name | uppercase}} Details
  </h2>
  <div>
    <span>ID: </span> {{course.id}}
  </div>
  <div>
    <label>
      <span (dblclick)="emitName()">Name:</span> <input [(ngModel)]="course.name" placeholder="name">
    </label>
  </div>
  <br>
  <br>
</div>
