#profile-page-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*align-items: center;*/
}

#profile-page-profile-data-container, #profile-page-password-change-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #3d395d;
  padding: 30px;
  margin: 30px;

  border: 2px solid #262437;
  border-radius: 5px;
}

#profile-image {
  max-height: 300px;
  border-radius: 50%;
  margin: 20px;
}

.container-item {
  margin: 20px 50px;
  display: flex;
  justify-content: space-between;
}

.attribute {
  font-size: 20px;
  color: whitesmoke;
}

input.text-input {
  border-bottom: 3px solid #262437;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  border-bottom-style: groove;
  width: 100%;

  /*color: #0a8f8f;*/
  color: lightgray;
  background-color: transparent;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: #9ca5ac;
}


/*.value{*/
/*  font-size: 20px;*/
/*  color: #0a8f8f;*/
/*}*/


.full-flex-center {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

.profile-page-password-error-message {
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
}

