<div id="profile-page-container">

  <div id="profile-page-inner-container" *ngIf="profileData">

    <div id="profile-page-profile-data-container">
      <form [formGroup]="myForm">
        <div class="container-item">
          <label>
            <img [src]="myForm.controls['imageURL'].value" [alt]="myForm.controls['imageURL'].value" id="profile-image">
            <br>
            <input #imageInput type="file" accept="image/jpeg, image/png, image/jpg"
                   placeholder="Change Image"
                   style="margin-left: 30px"
                   (change)="readURL(imageInput)">
          </label>
        </div>

        <div class="container-item">
          <span class="attribute">First Name: </span>

          <div>
            <input class="text-input" type="text" formControlName="FName"
                   maxlength="12" placeholder="First Name"
                   (input)="validateFName()">
            <div class="danger" *ngIf="!myForm.controls['FName'].valid && myForm.controls['FName'].touched">
              <p>
                The first name field is required.
              </p>
            </div>
            <div class="danger" *ngIf="!isFNameValid && myForm.controls['FName'].dirty
      && !(!myForm.controls['FName'].valid && myForm.controls['FName'].touched)">
              <p>
                The first name can't be spaces.
              </p>
            </div>
          </div>

        </div>

        <div class="container-item">
          <span class="attribute">Last Name: </span>

          <div>
            <input class="text-input" type="text" formControlName="LName"
                   maxlength="12" placeholder="Last Name"
                   (input)="validateLName()">
            <div class="danger" *ngIf="!myForm.controls['LName'].valid && myForm.controls['LName'].touched">
              <p>
                The last name field is required.
              </p>
            </div>
            <div class="danger" *ngIf="!isLNameValid && myForm.controls['LName'].dirty
      && !(!myForm.controls['LName'].valid && myForm.controls['LName'].touched)">
              <p>
                The last name can't be spaces.
              </p>
            </div>
          </div>
        </div>

        <div class="container-item">
          <span class="attribute">Address: </span>

          <div>
            <input class="text-input" type="text" formControlName="Address"
                   maxlength="100" placeholder="Address"
                   (input)="validateAddress()">
            <div class="danger" *ngIf="!myForm.controls['Address'].valid && myForm.controls['Address'].touched">
              <p>
                The address field is required.
              </p>
            </div>
            <div class="danger" *ngIf="!isLNameValid && myForm.controls['Address'].dirty
      && !(!myForm.controls['Address'].valid && myForm.controls['Address'].touched)">
              <p>
                The address can't be spaces.
              </p>
            </div>
          </div>

        </div>

        <div class="container-item" *ngIf="myForm.dirty" style="margin-top: 30px">

          <button type="button" id="profile-page-cancel-button"
                  class="btn btn-danger button"
                  (click)="updateProfileDataCancelled()">
            Cancel
          </button>

          <button type="submit" id="profile-page-save-button"
                  [disabled]="myForm.invalid" class="btn btn-primary button"
                  (click)="updateProfileData(myForm.value)">
            <span *ngIf="!isUpdatingProfileData">Save</span>
            <loaders-css loader="line-scale" style="display: inline;"
                         [scale]="0.5" color="whitesmoke"
                         *ngIf="isUpdatingProfileData"></loaders-css>
          </button>

        </div>
      </form>
    </div>

    <div id="profile-page-password-change-container">
      <h2 style="font-size: 28px; color: whitesmoke; margin-bottom: 30px"> Change Password </h2>
      <form [formGroup]="changePasswordForm">

        <div class="container-item">
          <span class="attribute" style="margin-right: 15px;">Current Password: </span>

          <div>
            <input class="text-input" type="password" formControlName="CurrentPassword"
                   maxlength="12" minlength="8" placeholder="Current Password">
            <div class="danger"
                 *ngIf="!changePasswordForm.controls['CurrentPassword'].valid && changePasswordForm.controls['CurrentPassword'].touched">
              <p class="profile-page-password-error-message">
                Password must contain at least 1 lowercase letter, 1 uppercase letter, 1 number,
                1 special case letter and must be between 8 and 12 in length.
              </p>
            </div>
          </div>

        </div>


        <div class="container-item">
          <span class="attribute" style="margin-right: 15px;">New Password: </span>

          <div>
            <input class="text-input" type="password" formControlName="NewPassword"
                   maxlength="12" minlength="8" placeholder="Your Password">
            <div class="danger"
                 *ngIf="!changePasswordForm.controls['NewPassword'].valid && changePasswordForm.controls['NewPassword'].touched">
              <p class="profile-page-password-error-message">
                Password must contain at least 1 lowercase letter, 1 uppercase letter, 1 number,
                1 special case letter and must be between 8 and 12 in length.
              </p>
            </div>
          </div>

        </div>

        <div class="container-item">
          <span class="attribute" style="margin-right: 15px;">Confirm Password: </span>

          <div>
            <input class="text-input" type="password" formControlName="ConfirmPassword"
                   maxlength="12" minlength="8" placeholder="Confirm Password">
            <div class="danger"
                 *ngIf="changePasswordForm.controls['ConfirmPassword'].touched &&
           changePasswordForm.controls['ConfirmPassword'].getError('NoPassswordMatch')">
              <p class="profile-page-password-error-message">
                Password and Confirm Password fields must match.
              </p>
            </div>
          </div>

        </div>

        <div class="container-item" *ngIf="changePasswordForm.dirty" style="margin-top: 30px">

          <button type="button" id="profile-page-password-cancel-button"
                  class="btn btn-danger button"
                  (click)="updatePasswordCancelled()">
            Cancel
          </button>

          <button type="submit" id="profile-page-password-save-button"
                  [disabled]="changePasswordForm.invalid" class="btn btn-primary button"
                  (click)="updatePassword()">
            <span *ngIf="!isUpdatingPassword">Save</span>
            <loaders-css loader="line-scale" style="display: inline;"
                         [scale]="0.5" color="whitesmoke"
                         *ngIf="isUpdatingPassword"></loaders-css>
          </button>

        </div>

      </form>
    </div>

  </div>

  <div [ngClass]="isDataLoading? 'full-flex-center': ''">
    <loaders-css loader="line-scale" [scale]="2" color="black"
                 *ngIf="isDataLoading"></loaders-css>
  </div>

</div>
