<div class="grid grid-pad">
  <a *ngFor="let course of courses"
     class="col-1-4"
     routerLink="details/{{course.id}}">
    <div class="module course">
      <h4> {{course.name}} </h4>
    </div>
  </a>
</div>

<!--<app-behaviorsubjectpractice></app-behaviorsubjectpractice>-->
