<div class="d-flex">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
    <li ngbNavItem="dashboard">
      <a ngbNavLink>Dashboard</a>
      <ng-template ngbNavContent>
        <app-dashboard></app-dashboard>
      </ng-template>
    </li>
    <li ngbNavItem="products">
      <a ngbNavLink>Products</a>
      <ng-template ngbNavContent>
        <app-products></app-products>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="ml-4" style="width: 95%"></div>
</div>


