<ng-template #locationModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"> Select Location </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Dismissed')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <!--    Hello World-->
    <agm-map
      [latitude]="lat"
      [longitude]="lng"
      [disableDefaultUI]="false"
      [zoom]="100"
      [mapTypeControl]="true"
      (mapClick)="mapClicked($event)">

      <agm-marker
        [latitude]="lat"
        [longitude]="lng"
        [iconUrl]="'//img.icons8.com/dusk/64/000000/user-location.png'"
        [markerDraggable]="true">
        <!--    [iconUrl]="'//developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'">-->
      </agm-marker>
    </agm-map>

  </div>

  <div class="modal-footer">
    <div>
      <button type="button" class="btn btn-outline-secondary" (click)="showCurrentLocation()">Show Current Location
      </button>
    </div>
    <div>
      <button type="button" class="btn btn-danger" (click)="modal.close('Saved')">Save</button>
    </div>
  </div>
</ng-template>

<div class="main">
  <!-- Select Recipients -->
  <div>
    Select Recipient:
    <ng-select
      [items]="recipientsList"
      (add)="addFormGroup($event)"
      placeholder="Select Recipients"
      [(ngModel)]="allSelectedRecipients"
      [disabled]="cantChangeUser"
      multiple="true"
      bindLabel="item_text"
      itemid="item_id"
    >
    </ng-select>
    <!--    <ng-multiselect-dropdown-->
    <!--      [disabled]="cantChangeUser"-->
    <!--      [(ngModel)]="selectedRecipient"-->
    <!--      placeholder="Select Recipients"-->
    <!--      [settings]="dropDownSettings"-->
    <!--      (onSelect)="addFormGroup($event)"-->
    <!--      [data]="recipientsList">-->
    <!--    </ng-multiselect-dropdown>-->
  </div>

  <div>
    <button *ngFor="let selectedRecipient of allSelectedRecipients"
            class="btn" [disabled]="cantChangeUser"
            (click)="changeUser(selectedRecipient.item_text)"
            [ngClass]="{'btn-primary': selectedRecipient.item_text === currentSelectedRecipient,
            'btn-outline-primary': selectedRecipient.item_text !== currentSelectedRecipient}">
      {{selectedRecipient.item_text}}
    </button>
  </div>

  <h2 *ngIf="myFormArray.controls.length > 0 && !toShowSentMessage"> Enter Details </h2>

  <div>
    <div *ngFor="let FG of myFormArray.controls; let i = index">
      <form [formGroup]="FG"
            *ngIf="(FG.get('recipient').value === currentSelectedRecipient) && currentSelectedRecipient !== null">
        {{i}}
        <div class="subject">
          <label>
            Subject:
            <input type="text" formControlName="subject"
                   maxlength="100" placeholder="Message Subject"
                   (input)="validateSubject(i)">
          </label>
          <div class="danger" *ngIf="!FG.get('subject').valid && FG.get('subject').touched">
            <p>
              The subject field is required.
            </p>
          </div>
          <div class="danger" *ngIf="!FG.get('isSubjectValid').value && FG.get('subject').dirty
              && !(!FG.get('subject').valid && FG.get('subject').touched)">
            <p>
              The subject field can't be spaces.
            </p>
          </div>
        </div>

        <br>

        <div class="message">
          <label>
            Message:
            <textarea (input)="validateMessage(i)" formControlName="message"
                      maxlength="100" placeholder="Your Message..." rows="4">

                </textarea>
          </label>
          <div class="danger" *ngIf="!FG.get('message').valid && FG.get('message').touched">
            <p>
              The message field is required.
            </p>
          </div>
          <div class="danger" *ngIf="!FG.get('isMessageValid').value && FG.get('message').dirty &&
              !(!FG.get('message').valid && FG.get('message').touched)">
            <p>
              The message field can't be spaces.
            </p>
          </div>
        </div>

        <br>

        <div class="number">
          <label>
            Contact Number:
            <input type="text" [mask]="contactNumberMask"
                   formControlName="number"
                   placeholder="Contact Number">
          </label>
          <div class="danger" *ngIf="!FG.get('number').valid && FG.get('number').touched">
            <p>
              The contact number field is required.
            </p>
          </div>
        </div>

        <br>

        <div class="audio">
          <label> <span *ngIf="!FG.get('audioURL').value">Record Audio:</span>
            <a (click)="initiateRecording()" class="btn btn-secondary" *ngIf="!recording && !FG.get('audioURL').value">
              Start Recording </a>
            <a (click)="stopRecording(i)" class="btn btn-danger" *ngIf="recording"> Stop Recording </a>
            <br>
            <div class="rounded-div" *ngIf="!FG.get('audioURL').value">
              <p> {{timer}} </p>
            </div>
            <div style="float: left; margin-top: 20px">
              <audio controls="" *ngIf="FG.get('audioURL').value">
                <source [src]="FG.get('audioURL').value" type="audio/wav">
              </audio>
            </div>
            <div style="float: left; margin-top: 27px">
              <button class="btn btn-outline-primary" (click)="clearAudio(i)"
                      *ngIf="FG.get('audioURL').value" style="margin-left: 20px"> Clear Audio
              </button>
            </div>
          </label>

          <div class="danger" *ngIf="FG.get('toShowAudioError').value && !FG.get('audioURL').value">
            <p>
              The audio is required.
            </p>
          </div>
        </div>

        <br>

        <div class="location">
          <span> Location: </span>
          <button class="btn btn-secondary" (click)="getLocation(i, locationModal)" style="margin-left: 20px">
            Get Current Location
          </button>
          <div class="danger" *ngIf="FG.get('toShowLocationError').value">
            <p>
              The location is required.
            </p>
          </div>
        </div>

        <br>

        <div class="reasons">
          <ng-multiselect-dropdown
            placeholder="Select Reasons"
            [settings]="reasonDropDownSettings"
            [data]="reasonsList"
            formControlName="selectedReasons">
          </ng-multiselect-dropdown>
        </div>

        <div>
          <br>
          <br>
<!--          <input type="submit" value="Submit Form" [disabled]="FG.invalid" class="btn btn-primary"-->
<!--                 (click)="showOutput(i, FG.value)">-->
<!--          <input type="submit" value="Submit Form" [disabled]="!allTrue(myFormArray)" class="btn btn-primary" (click)="showOutput(i, FG.value)">-->
        </div>
      </form>
    </div>
    <input *ngIf="myFormArray.controls.length > 0 && !toShowSentMessage"
            type="submit" value="Submit Form"
           [disabled]="!myFormArray.valid"
           class="btn btn-primary"
           (click)="sendMessages()">
    <div class="info">
      <p *ngIf="toShowSentMessage"> Your message has been sent. </p>
    </div>
  </div>
</div>

