.main{
  width: 80%;
  margin: 10px auto 50px auto;
}

.danger > p{
  background-color: indianred;
  color: whitesmoke;
  display: inline-block;
  padding: 5px;
  border: 1px ridge darkred;
}


.info > p{
  background-color: darkseagreen;
  color: whitesmoke;
  display: inline-block;
  padding: 5px;
  border: 1px ridge green;
}

.rounded-div{
  height: 80px;
  width: 80px;
  background-color: indianred;
  color: whitesmoke;
  border: darkred 2px solid;
  margin-left: 100px;
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  border-radius: 50%;
}

.rounded-div > p{
  margin: auto;
  line-height: 78px;
}

/*============================== For Map ===========================================*/
agm-map {
  height: 300px;
}
