<h2> Get Request (http://jsonplaceholder.typicode.com/posts/1/comments) </h2>
<table>
  <tr>
    <th> ID </th>
    <th> Post ID </th>
    <th> Name </th>
    <th> Email </th>
    <th> Body </th>
  </tr>

  <tr *ngFor="let comment of commentsList">
    <td>{{comment.id}}</td>
    <td>{{comment.postId}}</td>
    <td>{{comment.name}}</td>
    <td>{{comment.email}}</td>
    <td>{{comment.body}}</td>
  </tr>
</table>

<h2> Get Request (http://jsonplaceholder.typicode.com/posts?userId=?) </h2>
<label> Enter User ID:
  <input type="number" [(ngModel)]="selectedUserID"
         (keypress)="isKeyPressValid($event)">
  <input type="submit" (click)="fetchUserPosts()" [disabled]="!selectedUserID">
</label>
<div *ngIf="wasDataFetched">
  <table>
    <tr>
      <th> userID </th>
      <th> ID </th>
      <th> Title </th>
      <th> Body </th>
    </tr>

    <tr *ngFor="let post of postsList">
      <td>{{post.userId}}</td>
      <td>{{post.id}}</td>
      <td>{{post.title}}</td>
      <td>{{post.body}}</td>
    </tr>
  </table>
</div>
<p *ngIf="showErrorMessage" style="background-color: red; color: white;"> Please enter a valid ID. </p>

<h2> Post Request's Returned Data (http://jsonplaceholder.typicode.com/posts) </h2>
<!-- Without '?', if you look in the console, it will show you error because we are populating -->
<!-- this section before the API post returns data, and hence the newPost is null. -->
<!-- '?' tells it that it is nullable. So these properties after '?' (e.g. userId, title}
    will only be available when newPost object is filled-->
<p> userID: {{newPost?.userId}}</p>
<p> ID: {{newPost?.id}}</p>
<p> Title: {{newPost?.title}}</p>
<p> Body: {{newPost?.body}}</p>


<h2> Put Request's Returned Data (http://jsonplaceholder.typicode.com/posts/1) </h2>
<!-- Without '?', if you look in the console, it will show you error because we are populating -->
<!-- this section before the API post returns data, and hence the newPost is null. -->
<!-- '?' tells it that it is nullable. So these properties after '?' (e.g. userId, title}
    will only be available when newPost object is filled-->
<p> userID: {{newPutObject?.userId}}</p>
<p> ID: {{newPutObject?.id}}</p>
<p> Title: {{newPutObject?.title}}</p>
<p> Body: {{newPutObject?.body}}</p>


<h2> Patch Request's Returned Data (http://jsonplaceholder.typicode.com/posts/1) </h2>
<!-- Without '?', if you look in the console, it will show you error because we are populating -->
<!-- this section before the API post returns data, and hence the newPost is null. -->
<!-- '?' tells it that it is nullable. So these properties after '?' (e.g. userId, title}
    will only be available when newPost object is filled-->
<p> userID: {{newPatchObject?.userId}}</p>
<p> ID: {{newPatchObject?.id}}</p>
<p> Title: {{newPatchObject?.title}}</p>
<p> Body: {{newPatchObject?.body}}</p>

<h2> Delete Request's Returned Message (http://jsonplaceholder.typicode.com/posts/1) </h2>
<p> Message: {{newDeleteMessage}}</p>


