<div id="main">

  <div class="form-container">
    <h1 style="font-size: 44px; margin-top: 20px; margin-bottom: 20px;"> ADMIN LOGIN </h1>

    <form [formGroup]="myForm" (change)="formChanged()">

      <div class="form-component" id="email-div">
        <input type="email" class="text-input"
               formControlName="Email" placeholder="Your Email">
        <div class="danger" *ngIf="!myForm.controls['Email'].valid && myForm.controls['Email'].touched">
          <p>
            The email field is invalid.
          </p>
        </div>
      </div>

      <br>

      <div class="form-component" id="password-div">
        <input type="password" class="text-input"
               formControlName="Password"
               maxlength="12" minlength="8" placeholder="Your Password">
        <div class="danger" *ngIf="!myForm.controls['Password'].valid && myForm.controls['Password'].touched">
          <p>
            Invalid Password Field
          </p>
        </div>
      </div>

      <br>

      <div>
        <button type="submit" id="login-page-login-button"
                value="Login" [disabled]="myForm.invalid" class="btn button"
                (click)="adminLogin(myForm.value)">
          <span *ngIf="!isLoggingIn">Login</span>
          <loaders-css loader="line-scale" style="display: inline;"
                       [scale]="0.5" [color]="loaderColor" (mouseover)="loaderColor = '#3d395d'"
                       *ngIf="isLoggingIn"></loaders-css>
        </button>


        <input type="button" id="login-page-signup-button"
               value="Sign Up" class="btn button"
               (click)="goToSignupPage()">
      </div>
    </form>

  </div>
</div>
