#main {
  width: 100%;
  margin: 10px auto 50px auto;
  font-family: "Segoe UI";
}

.danger > p {
  background-color: indianred;
  color: whitesmoke;
  display: inline-block;
  padding: 5px;
  border: 1px ridge darkred;
}

.info > p {
  background-color: darkseagreen;
  color: whitesmoke;
  display: inline-block;
  padding: 5px;
  border: 1px ridge green;
}

/* ##################################### Form Styling #########################################*/
.form-container{
  /*border: 2px solid indianred;*/
  border-radius: 5px;
  width: 50%;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  background-color: #3d395d;
  color: whitesmoke;
  /*position: relative;*/
}

input.text-input{
  border-bottom: 3px solid #262437;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  border-bottom-style: groove;
  padding: 10px;
  width: 100%;
  background-color: transparent;
  color: lightgray;
}

input:focus {
  outline: none;
}

input::placeholder{
  color: #9ca5ac;
}

.button{
  width: 52%;
}

#login-page-login-button, #login-page-signup-button{
  border: 3px solid whitesmoke;
  color: whitesmoke;
}

#login-page-login-button:hover, #login-page-signup-button:hover{
  background-color: whitesmoke;
  color: #3d395d;
}

#login-page-login-button{
  margin-top: 30px;
  margin-bottom: 15px;
}


