<div class="d-flex">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active"
      style="background-color: whitesmoke; padding: 0 10px;"
      class="nav-pills" orientation="vertical">
    <li ngbNavItem="home">
      <a ngbNavLink>Home</a>
      <ng-template ngbNavContent>
        <app-home></app-home>
      </ng-template>
    </li>
<!--    <li ngbNavItem="shop">-->
<!--      <a ngbNavLink>Shop</a>-->
<!--      <ng-template ngbNavContent>-->
<!--        <app-shop></app-shop>-->
<!--      </ng-template>-->
<!--    </li>-->
    <li ngbNavItem="cart">
      <a ngbNavLink>Cart ({{noOfItemsInCart}})</a>
      <ng-template ngbNavContent>
        <app-cart></app-cart>
      </ng-template>
    </li>
    <li ngbNavItem="history">
      <a ngbNavLink>History</a>
      <ng-template ngbNavContent>
        <app-history></app-history>
      </ng-template>
    </li>
    <li ngbNavItem="profile">
      <a ngbNavLink>Profile</a>
      <ng-template ngbNavContent>
        <app-profile></app-profile>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" style="width: 90%"></div>
</div>


