table{
  margin: auto;
  width: 90%;
}

.danger{
  background-color: red;
  color: white;
}

.alert-danger, .alert-info{
  padding: 20px;
  margin: 20px auto;
  font-size: 24px;
  display: inline-block;
}

#all-products-container{
  clear: both;
}

a{
  padding: 10px;
  /*background-color: lightgoldenrodyellow;*/
  background-color: lightseagreen;
  color: white;
}

a:hover{
  cursor: pointer;
  background-color: darkslategrey;
}

.full-flex-center{
  display: flex;
  height: 60vh;
  align-items: center;
  justify-content: center;
}

.nothing-message {
  font-size: 30px;
  padding: 20px;
  color: #262437;
  background-color: lightgray;
  border: 2px solid #262437;
  border-radius: 5px;
}


