<ng-template #addProductModal let-modal>

  <div class="modal-header">
    <h1 class="modal-title" id="modal-basic-title"> Add Product </h1>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Closed')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="myForm" (ngSubmit)="modal.close(myForm.value)">
      <div>
        <label>
          Upload Image
          <img [src]="myForm.controls['imageURL'].value"
               width="250" height="250"
               *ngIf="myForm.controls['imageURL'].value">
          <input #imageInput
                 type="file"
                 accept="image/jpeg, image/png, image/jpg"
                 (change)="readURL(imageInput, myForm.controls['imageURL'])">
        </label>
      </div>

      <div>
        <label>
          Name
          <input type="text" placeholder="Name"
                 formControlName="name" maxlength="30">
        </label>
        <p class="danger"
           *ngIf="!myForm.controls['name'].valid && myForm.controls['name'].touched">
          The name field is required.
        </p>
      </div>

      <div>
        <label>
          Price
          <input type="number" placeholder="Price"
                 formControlName="price" max="300" min="0"
                 (keypress)="isKeyPressValid($event)">
        </label>
        <p class="danger"
           *ngIf="!myForm.controls['price'].valid && (myForm.controls['price'].touched || myForm.controls['price'].dirty)">
          The price field is invalid.
        </p>
      </div>

      <div>
        <label>
          Description
          <textarea formControlName="description" placeholder="Description"
                    maxlength="100"
                    rows="5" cols="30"></textarea>
        </label>
        <p class="danger"
           *ngIf="!myForm.controls['description'].valid && myForm.controls['description'].touched">
          Description field is not valid
        </p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Closed')"
                style="margin-left: 20px; margin-right: 12px">Cancel
        </button>
        <button type="button"
                class="btn btn-secondary"
                [disabled]="myForm.invalid" [ngClass]="addingProduct?'saving':''"
                (click)="uploadProduct()"
        >
          Save <span></span><span></span><span></span>
        </button>
      </div>
    </form>
  </div>

</ng-template>

<ng-template #editProductModal let-modal>

  <div class="modal-header">
    <h1 class="modal-title" id="edit-product-modal-basic-title"> Edit Product </h1>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Closed')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="editProductForm" (ngSubmit)="modal.close(editProductForm.value)">
      <div>
        <label>
          Upload Image
          <img [src]="editProductForm.controls['imageURL'].value"
               width="250" height="250"
               *ngIf="editProductForm.controls['imageURL'].value">
          <input #imageInput
                 type="file"
                 accept="image/jpeg, image/png, image/jpg"
                 (change)="readURL(imageInput, editProductForm.controls['imageURL'])">
        </label>
      </div>

      <div>
        <label>
          Name
          <input type="text" placeholder="Name"
                 formControlName="name" maxlength="30">
        </label>
        <p class="danger"
           *ngIf="!editProductForm.controls['name'].valid && editProductForm.controls['name'].touched">
          The name field is required.
        </p>
      </div>

      <div>
        <label>
          Price
          <input type="number" placeholder="Price"
                 formControlName="price" max="300" min="0"
                 (keypress)="isKeyPressValid($event)">
        </label>
        <p class="danger"
           *ngIf="!editProductForm.controls['price'].valid && (editProductForm.controls['price'].touched
            || editProductForm.controls['price'].dirty)">
          The price field is invalid.
        </p>
      </div>

      <div>
        <label>
          Description
          <textarea formControlName="description" placeholder="Description"
                    maxlength="100"
                    rows="5" cols="30"></textarea>
        </label>
        <p class="danger"
           *ngIf="!editProductForm.controls['description'].valid && editProductForm.controls['description'].touched">
          Description field is not valid
        </p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Closed')"
                style="margin-left: 20px; margin-right: 12px">
          Cancel
        </button>
        <button type="button"
                class="btn btn-secondary"
                [disabled]="editProductForm.invalid || !editProductForm.dirty" [ngClass]="editingProduct?'saving':''"
                (click)="uploadEditedProduct()">
          Save <span></span><span></span><span></span>
        </button>
      </div>
    </form>
  </div>

</ng-template>


<ng-template #confirmProductDelete let-modal>

  <div class="modal-header">
    <div class="modal-title" id="confirm-product-delete-modal-title"> Cofirm Delete</div>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Dismissed')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    Are you sure you want to delete this product?
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Dismissed')">Cancel</button>
    <button type="button" class="btn btn-danger"
            [ngClass]="deletingProduct?'saving': ''"
            (click)="deleteProductConfirmed()">
      Confirm<span></span><span></span><span></span>
    </button>
  </div>

</ng-template>

<div id="main-container">

  <div id="add-product-button" style="margin-bottom: 20px; float: right; clear: both;">
    <button class="btn btn-primary" (click)="addProduct(addProductModal)">
      Add Product
    </button>
  </div>

  <div id="all-products-container">
    <table mat-table [dataSource]="matTable" class="mat-elevation-z8"
           *ngIf="Products?.length > 0">

      <ng-container matColumnDef="product-id">
        <th mat-header-cell *matHeaderCellDef> Product ID</th>
        <td mat-cell *matCellDef="let product">{{product.productID}}</td>
      </ng-container>

      <ng-container matColumnDef="product-image">
        <th mat-header-cell *matHeaderCellDef> Product Image</th>
        <td mat-cell *matCellDef="let product">
          <img [src]="product.imageURL" alt="" width="100" height="100"/>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let product">{{product.name}}</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price</th>
        <td mat-cell *matCellDef="let product">{{product.price}}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description</th>
        <td mat-cell *matCellDef="let product">{{product.description}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action</th>
        <td mat-cell *matCellDef="let product">
          <a (click)="deleteProduct(product, confirmProductDelete)" style="margin-right: 3px">Delete</a>
          <a (click)="editProduct(product, editProductModal)">Edit</a>
        </td>
      </ng-container>


      <!-- Table Row -->
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>

    <div  [ngClass]="'isDataLoading'? 'full-flex-center': ''">
      <div *ngIf="isDataLoading">
        <loaders-css loader="line-scale" [scale]="2" color="black"></loaders-css>
      </div>
      <div *ngIf="!isDataLoading && Products?.length <= 0" class="nothing-message">
        You have not added any products.
      </div>
    </div>

  </div>

</div>
