<h2> A list of courses </h2>

<ul class="courses">
  <!--
      What is [class.selected] doing?
      Here the condition "course === selectedCourse" will be evaluated first, if it returns true,
      then the "selected" css class will be applied to the element
   -->
  <li *ngFor="let course of courses"
      [class.selected]="course === selectedCourse"
      (click)="onSelect(course)">
    <span class="badge"> {{course.id}} </span>
    {{course.name}}
  </li>
</ul>

<app-course-details [course]="selectedCourse" (courseNameClick)="receiveEmittedEvent($event)"></app-course-details>

<div *ngIf="selectedCourse">
  <div>
    <span>Addition Pipe Results: </span> {{selectedCourse.id | addition}}
  </div>
  <div>
    <span>Exponent Pipe Results: </span> {{selectedCourse.id | exponent}}
  </div>
  <div>
    <span>Date Pipe Example: </span> {{myDate | date: 'full'}}
    <br>
    <span>Date Pipe Example 2: </span> {{myDate | date: 'short'}}
  </div>
</div>

<div *ngIf="receivedString">
  <p style="background: yellow;">{{receivedString}} was clicked!</p>
</div>

<br>
<br>
