.courses {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.courses li{
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  height: 2.5em;
  line-height: 2.5em;
  display: table;
  width: 200px;
  padding: 0;
  margin: .5em;
  border-radius: 4px;
}

.courses li:hover{
  background-color: #1EE;
  margin: 0.4em;
}

.courses li.selected{
  background-color: #D3D3D3;
}

.badge{
  width: 20px;
  display: table-cell;
  vertical-align: middle;
  background-color: #F29;
  padding: 1.2em;
  margin-right: 1em;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
