table{
  margin: auto;
  width: 90%;
}

ng-template#show-message{
  margin: auto;
  width: 80%;
}

.alert-danger{
  padding: 20px;
  margin: 20px auto;
  font-size: 24px;
  display: inline-block;
}

a{
  padding: 10px;
  /*background-color: lightgoldenrodyellow;*/
  background-color: lightseagreen;
  color: white;
}

a:hover{
  cursor: pointer;
  background-color: darkslategrey;
}



