<ng-template #confirmDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Dismissed')">
      <!-- &times; is the cross sign -->
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    Are you sure you want to delete this message?
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Dismissed')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Confirmed')">Confirm</button>
  </div>

</ng-template>


<table mat-table [dataSource]="matTable" class="mat-elevation-z8"
       *ngIf="matTable.filteredData.length > 0; else showMessage">
  <!-- Subject Column -->
  <ng-container matColumnDef="subject">
    <th mat-header-cell *matHeaderCellDef> Subject</th>
    <td mat-cell *matCellDef="let elem">{{elem.subject}}</td>
  </ng-container>

  <!-- Message Column -->
  <ng-container matColumnDef="message">
    <th mat-header-cell *matHeaderCellDef> Message</th>
    <td mat-cell *matCellDef="let elem">{{elem.message}}</td>
  </ng-container>

  <!-- Contact Number Column -->
  <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef> Contact </th>
    <td mat-cell *matCellDef="let elem">{{elem.number}}</td>
  </ng-container>

  <!-- Audio Column -->
  <ng-container matColumnDef="audio">
    <th mat-header-cell *matHeaderCellDef> Audio </th>
    <td mat-cell *matCellDef="let elem">
      <audio controls="">
        <source [src]="elem.audioURL" type="audio/wav">
      </audio>
    </td>
  </ng-container>

  <!-- Contact Number Column -->
  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef> Location </th>
    <!-- number pipe is used to limit the deciaml places -->
<!--    <td mat-cell *matCellDef="let elem">{{elem.location.lat}} ,{{elem.location.lng}}</td>-->
    <td mat-cell *matCellDef="let elem">{{elem.location.lat}} ,{{elem.location.lng}}</td>
  </ng-container>

  <!-- Reasons Column -->
  <ng-container matColumnDef="reasons">
    <th mat-header-cell *matHeaderCellDef> Reasons</th>
    <td mat-cell *matCellDef="let elem">{{elem.reasons}}</td>
  </ng-container>

  <!-- Recipients Column -->
  <ng-container matColumnDef="recipients">
    <th mat-header-cell *matHeaderCellDef> Recipients</th>
    <td mat-cell *matCellDef="let elem">{{elem.recipients}}</td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action</th>
    <td mat-cell *matCellDef="let element" class="action-link">
      <a (click)="deleteMessage(element, confirmDelete)">Delete</a>
    </td>
  </ng-container>


  <!-- Table Row -->
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  <!--  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" (click)="rowClicked(row)"></tr>-->
</table>

<ng-template #showMessage id="show-message">
  <p class="alert-danger"> There are no messages. </p>
</ng-template>
