<h2>Get Request (http://jsonplaceholder.typicode.com/albums) </h2>
<div style="margin: 20px auto; width: 50%; border: 3px solid green; padding: 10px;">
  <label> Select Album:
    <select [(ngModel)]="selectedAlbum" (ngModelChange)="onAlbumSelected($event)"
      [ngStyle]="{'width': 'parent'}">
      <option [ngValue]="null" [disabled]="true"> Select Your Options </option>
      <option *ngFor="let album of albumsList" [value]="album.id">{{album.title}}</option>
    </select>
  </label>
</div>

<br><br>
<!--<p> The selected album id is: {{selectedAlbum}}</p>-->

<div *ngIf="selectedAlbum">
  <h2> Get Photos for album id = {{selectedAlbum}} (http://jsonplaceholder.typicode.com/photos) </h2>
  <table>
    <tr>
      <th> ID </th>
      <th> Album ID </th>
      <th> Title </th>
      <th> ThumbNail </th>
    </tr>

    <tr *ngFor="let photo of photosList">
      <td>{{photo.id}}</td>
      <td>{{photo.albumId}}</td>
      <td>{{photo.title}}</td>
      <td><img src="{{photo.thumbnailUrl}}" alt="album-photo"></td>
    </tr>
  </table>
</div>

