<div class="d-flex">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
    <li ngbNavItem="1">
      <a ngbNavLink>Course List</a>
      <ng-template ngbNavContent>
        <app-course-list></app-course-list>
      </ng-template>
    </li>
    <li ngbNavItem="2">
      <a ngbNavLink>Dashboard</a>
      <ng-template ngbNavContent>
        <app-dashboard></app-dashboard>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="ml-4" style="width: 80%"></div>
</div>


<app-behaviorsubjectpractice></app-behaviorsubjectpractice>


