<div *ngIf="!title; else forminfo">
  <h1> Add Shop Item </h1>
  <form [formGroup]="myForm" (ngSubmit)="showData(myForm.value)">
    <div>
      <label>
        Upload Image
        <img [src]="imageURL" alt="" *ngIf="imageURL" class="img-circle">
        <input #imageInput type="file" accept="image/jpeg, image/png, image/jpg" (change)="readURL(imageInput)">
      </label>
    </div>

    <br>

    <label>
      Title
      <input type="text" formControlName="title" (input)="validateTitle()" maxlength="20">
    </label>
    <br *ngIf="!myForm.controls['title'].valid && myForm.controls['title'].touched">
    <p class="danger-label"
       *ngIf="!myForm.controls['title'].valid && myForm.controls['title'].touched">
      The title field is required.
    </p>
    <br>
    <p class="danger-label"
       *ngIf="!isTitleValid && myForm.controls['title'].dirty">
      The input can't be spaces.
    </p>

    <br>
    <label>
      Points
      <input type="number" formControlName="points" max="100" min="0"
             (keypress)="isKeyPressValid($event)"
             (input)="validatePoints()">
    </label>
    <br *ngIf="!myForm.controls['points'].valid && myForm.controls['points'].touched">
    <p class="danger-label"
       *ngIf="!myForm.controls['points'].valid && myForm.controls['points'].touched">
      The points field is required.
    </p>
    <br>
    <p class="danger-label"
       *ngIf="!isPointsValid && myForm.controls['points'].dirty">
      Number should be less than 101.
    </p>

    <br>
    <br>
    <label>
      Quantity <br>
      <input type="radio"
             formControlName="isQuantityLimited"
             [value]="true" (change)="validateLimit()">
      <label>Limited</label><br>
      <input type="radio"
             formControlName="isQuantityLimited"
             [value]="false" (change)="validateLimit()">
      <label> Unlimited </label><br>
      <input type="number" max="1000" min="0"
             formControlName="quantity"
             (keypress)="isKeyPressValid($event)"
             (input)="validateQuantity()"
             *ngIf="myForm.controls['isQuantityLimited'].value"
             placeholder="Enter Quantity">
      <br
        *ngIf="!myForm.controls['quantity'].valid && myForm.controls['quantity'].touched && myForm.controls['quantity'].enabled">
      <p class="danger-label"
         *ngIf="!myForm.controls['quantity'].valid && myForm.controls['quantity'].touched && myForm.controls['quantity'].enabled">
        The quantity field is required.
      </p>
      <br>
      <p class="danger-label"
         *ngIf="!isQuantityValid && myForm.controls['quantity'].dirty">
        Number should be less than 1001.
      </p>
    </label>

    <br>
    <br>
    <label>
      Expiry Date
      <input type="date" formControlName="expiryDate" [min]="minDate">
    </label>

    <br>
    <br>
    <input type="submit" value="Submit Form" [disabled]="myForm.invalid" class="btn btn-primary">
  </form>
</div>

<ng-template #forminfo>
  <p> Title: {{title}}</p>
  <p> Expiry Date: {{expiryDate}}</p>
  <p> Limited Quantity? {{isQuantityLimited ? 'yes' : 'No'}}</p>
  <p> Quantity: {{quantity}}</p>
  <p> Points: {{points}}</p>
  <img [src]="imageURL" alt="your-image" width="300" class="img-circle">
</ng-template>
