.img-circle{
  max-height: 300px;
}

input[type="number"] {
  width: 200px;
}

.danger-label{
  background-color: indianred;
  color: whitesmoke;
  display: inline-block;
  padding: 5px;
  border: 1px ridge darkred;
  /*border-style: ridge;*/
}
