<ul ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="active">
  <li ngbNavItem="1">
    <a ngbNavLink routerLink="courses" routerLinkActive="active"> Courses </a>
  </li>
  <li ngbNavItem="2">
    <a ngbNavLink routerLink="shop" routerLinkActive="active"> Shop </a>
  </li>
  <li ngbNavItem="3">
    <a ngbNavLink routerLink="api-requests" routerLinkActive="active"> API </a>
  </li>
  <li ngbNavItem="4">
    <a ngbNavLink routerLink="mail" routerLinkActive="active"> Mail </a>
  </li>
  <li ngbNavItem="5">
    <a ngbNavLink routerLink="map" routerLinkActive="active"> Map </a>
  </li>
  <li ngbNavItem="6" *ngIf="!isUserLoggedIn && !isAdminLoggedIn">
    <a ngbNavLink routerLink="auth" routerLinkActive="active"> Login </a>
  </li>
  <li ngbNavItem="7" *ngIf="isAdminLoggedIn">
    <a ngbNavLink routerLink="admin" routerLinkActive="active"> Admin Panel </a>
  </li>
  <li ngbNavItem="8" *ngIf="isUserLoggedIn">
    <a ngbNavLink routerLink="store" routerLinkActive="active"> Store </a>
  </li>

  <li ngbNavItem="9" class="ml-auto"
      *ngIf="isUserLoggedIn || isAdminLoggedIn">
    <button (click)="signout()" class="btn">Signout</button>
  </li>
</ul>

<div [ngbNavOutlet]="nav"></div>

<router-outlet></router-outlet>

