<ng-template #locationModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"> Select Location </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Dismissed')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
<!--    Hello World-->
    <agm-map
      [latitude]="lat"
      [longitude]="lng"
      [disableDefaultUI]="false"
      [zoom]="100"
      [mapTypeControl]="true"
      (mapClick)="mapClicked($event)">

      <agm-marker
        [latitude]="lat"
        [longitude]="lng"
        [iconUrl]="'//img.icons8.com/dusk/64/000000/user-location.png'"
        [markerDraggable]="true">
        <!--    [iconUrl]="'//developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'">-->
      </agm-marker>

<!--      <agm-marker-->
<!--        *ngFor="let m of markers; let i = index"-->
<!--        (markerClick)="markerClicked(m.label, i)"-->
<!--        [latitude]="m.lat"-->
<!--        [longitude]="m.lng"-->
<!--        [label]="m.label"-->
<!--        [markerDraggable]="m.draggable"-->
<!--        [iconUrl]="'//developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'">-->

<!--      </agm-marker>-->
    </agm-map>

  </div>

  <div class="modal-footer">
    <div>
      <button type="button" class="btn btn-outline-secondary" (click)="showCurrentLocation()">Show Current Location</button>
    </div>
    <div>
      <button type="button" class="btn btn-danger" (click)="modal.close('Saved')">Save</button>
    </div>
  </div>
</ng-template>

<div class="main">
  <form [formGroup]="myForm" (change)="formChanged()">

    <div class="subject">
      <label>
        Subject:
        <input type="text" formControlName="subject"
               maxlength="100" placeholder="Message Subject"
               (input)="validateSubject()">
      </label>
      <div class="danger" *ngIf="!myForm.controls['subject'].valid && myForm.controls['subject'].touched">
        <p>
          The subject field is required.
        </p>
      </div>
      <div class="danger" *ngIf="!isSubjectValid && myForm.controls['subject'].dirty
      && !(!myForm.controls['subject'].valid && myForm.controls['subject'].touched)">
        <p>
          The subject field can't be spaces.
        </p>
      </div>
    </div>

    <br>

    <div class="message">
      <label>
        Message:
        <textarea (input)="validateMessage()" formControlName="message"
                  maxlength="100" placeholder="Your Message..." rows="4">

        </textarea>
      </label>
      <div class="danger" *ngIf="!myForm.controls['message'].valid && myForm.controls['message'].touched">
        <p>
          The message field is required.
        </p>
      </div>
      <div class="danger" *ngIf="!isMessageValid && myForm.controls['message'].dirty &&
      !(!myForm.controls['message'].valid && myForm.controls['message'].touched)">
        <p>
          The message field can't be spaces.
        </p>
      </div>
    </div>

    <br>

    <div class="number">
      <label>
        Contact Number:
        <input type="text" [mask]="contactNumberMask"
               formControlName="number"
               placeholder="Contact Number">
      </label>
      <div class="danger" *ngIf="!myForm.controls['number'].valid && myForm.controls['number'].touched">
        <p>
          The contact number field is required.
        </p>
      </div>
    </div>

    <br>

    <div class="audio">
      <label> <span *ngIf="!url">Record Audio:</span>
        <a (click)="initiateRecording()" class="btn btn-secondary" *ngIf="!recording && !url"> Start Recording </a>
        <a (click)="stopRecording()" class="btn btn-danger" *ngIf="recording"> Stop Recording </a>
        <br>
        <div class="rounded-div"  *ngIf="!url">
          <p> {{timer}} </p>
        </div>
        <div style="float: left; margin-top: 20px">
          <audio controls="" *ngIf="url">
            <source [src]="url" type="audio/wav">
          </audio>
        </div>
        <div style="float: left; margin-top: 27px">
          <button class="btn btn-outline-primary" (click)="clearAudio()"
                  *ngIf="url" style="margin-left: 20px"> Clear Audio </button>
        </div>
      </label>

      <div class="danger" *ngIf="toShowAudioError && !url">
        <p>
          The audio is required.
        </p>
      </div>
    </div>

    <br>

    <div class="location">
      <span> Location: </span>
      <button class="btn btn-secondary" (click)="getLocation(locationModal)" style="margin-left: 20px">
        Get Current Location
      </button>
      <div class="danger" *ngIf="toShowLocationError">
        <p>
          The location is required.
        </p>
      </div>
    </div>

    <br>

    <div class="recipients">
      <ng-multiselect-dropdown
        formControlName="selectedRecipients"
        placeholder="Select Recipients"
        [settings]="dropDownSettings"
        [data]="recipientsList">
      </ng-multiselect-dropdown>
    </div>

    <br>

    <div class="reasons">
      <ng-multiselect-dropdown
        placeholder="Select Reasons"
        [settings]="reasonDropDownSettings"
        [data]="reasonsList"
        formControlName="selectedReasons">
      </ng-multiselect-dropdown>
    </div>

    <div>
      <br>
      <br>
      <input type="submit" value="Submit Form" [disabled]="myForm.invalid" class="btn btn-primary"
             (click)="showOutput(myForm.value)">
    </div>

    <div class="info">
      <p *ngIf="toShowMessage"> Your message has been sent. </p>
    </div>

  </form>
</div>
