#main{
  width: 100%;
  padding: 20px;
}

.cart-display{
  display: flex;
  flex-direction: row;
}

.cart-products{
  flex-basis: 70%;
}

.cart-product-row{
  padding: 1.5%;
  display: flex;
  flex-direction: row;
  margin: 2%;

  background-color: #483d8b;
  color: whitesmoke;
}

.cart-product-row:hover{
  background-color: #251c51;
}

.cart-product-image{
  max-width: 10%;
}

.cart-product-image img{
  /*take all the width of the .cart-product-image div*/
  max-width: 100%;
}

.cart-product-info{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: center;
}

.cart-product-name{
  font-size: 20px;
  color: whitesmoke;
}

.cart-product-price{
  font-size: 16px;
  color: lightgray;
}

.cart-quantity-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto 30px;
  padding: 10px;
}

.cart-product-quantity{
  background-color: #3d395d;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  padding: 13px 26px;
  margin: 0;
}

.up-down-icons-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #8078bf;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.fa-angle-up{
  padding: 4px 8px;
  border-bottom: 2px solid #262437;
}

.fa-angle-up:hover{
  background-color: #575186;
}

.fa-angle-down{
  padding: 4px 8px;
  border-collapse: separate;
}

.fa-angle-down:hover{
  background-color: #575186;
}

.remove-from-cart-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* =========================================== Cart Checkout Section ==================================*/
.cart-checkout-row{
  padding: 1.5%;
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  margin: 0;

  height: fit-content;

  /*background-color: #5d5580;*/
  background-color: #3d395d;
  color: whitesmoke;
}

.cart-checkout-total-heading{
  font-size: 36px;
  padding: 10px;
}

.cart-checkout-horizontal-line{
  height: 3px;
  background-color: #262437;
  margin: 5px 5px;
}
/*align-items aligns flex items along the cross axis, which is always perpendicular to the main axis.*/
/*justify-content aligns flex items along the main axis.*/
.cart-checkout-subtotal{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:  20px;
}

.cart-checkout-subtotal h4{
  font-size: 18px;
  margin: 0;
}

.cart-checkout-tax{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:  20px;
}

.cart-checkout-tax h4{
  font-size: 18px;
  margin: 0;
}

.cart-checkout-total{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:  20px;
}

.cart-checkout-total h4{
  font-size: 18px;
  margin: 0;
}

.cart-checkout-button{
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nothing-message {
  font-size: 30px;
  padding: 20px;
  color: #262437;
  background-color: #d3d3d3;
  border: 2px solid #262437;
  border-radius: 5px;
}

#message-div{
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

