<div id="main">

  <section class="cart-display" *ngIf="cartProducts.length > 0; else noItems">

    <div class="cart-products">
      <div class="cart-product-row" *ngFor="let cartProduct of cartProducts; let i = index;">
        <div class="cart-product-image">
          <img [src]="cartProduct.product.imageURL" [alt]="cartProduct.product.name">
        </div>
        <div class="cart-product-info">
          <p class="cart-product-name">{{cartProduct.product.name}}</p>
          <p class="cart-product-price">$ {{cartProduct.product.price}}</p>
        </div>
        <div class="cart-quantity-div">
          <p class="cart-product-quantity">{{cartProduct.quantity}}</p>
          <div class="up-down-icons-div">
            <i class="fa fa-angle-up" (click)="incrementQuantity(i)"></i>
            <i class="fa fa-angle-down" (click)="decrementQuantity(i)"></i>
          </div>
        </div>
        <div class="remove-from-cart-div">
          <button class="btn btn-danger" (click)="removeFromCart(i)">
            Remove
          </button>
        </div>
      </div>
    </div>

    <div class="cart-checkout-row">
      <h2 class="cart-checkout-total-heading"> Cart Totals </h2>
      <div class="cart-checkout-horizontal-line"></div>
      <div class="cart-checkout-subtotal">
        <h4>Subtotal</h4>
        <h4>$ {{cartSubtotal}}</h4>
      </div>
      <div class="cart-checkout-horizontal-line"></div>
      <div class="cart-checkout-tax">
        <h4>Tax</h4>
        <h4>{{cartTax}}%</h4>
      </div>
      <div class="cart-checkout-horizontal-line"></div>
      <div class="cart-checkout-total">
        <h4>Total</h4>
        <h4>$ {{cartTotal}}</h4>
      </div>
      <div class="cart-checkout-horizontal-line"></div>
      <div class="cart-checkout-button">
        <button class="btn btn-primary" (click)="checkout()"> Checkout </button>
      </div>
    </div>

  </section>

  <ng-template #noItems>
    <div id="message-div">
      <p class="nothing-message"> There are no items in the cart. </p>
    </div>
  </ng-template>

</div>
