<!--<h1> This is the shop page! </h1>-->

<!--<a routerLink="add-item">Add Item</a><br>-->
<!--<a routerLink="periodic-table">Periodic Table</a>-->


<div class="d-flex">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
    <li ngbNavItem="1">
      <a ngbNavLink>Add Item</a>
      <ng-template ngbNavContent>
        <app-add-item></app-add-item>
      </ng-template>
    </li>
    <li ngbNavItem="2">
      <a ngbNavLink>Periodic Table </a>
      <ng-template ngbNavContent>
        <app-periodic-table></app-periodic-table>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="ml-4" style="width: 80%"></div>
</div>
