<!-- fitBounds and agmFitBounds is used to set the map zoom to fit the location of all the markers-->
<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [fitBounds]="true"
  [disableDefaultUI]="false">

<!--    <agm-marker-->
<!--      [latitude]="lat"-->
<!--      [longitude]="lng"-->
<!--      [iconUrl]="'//img.icons8.com/dusk/64/000000/user-location.png'">-->
<!--      &lt;!&ndash;    [iconUrl]="'//developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'">&ndash;&gt;-->
<!--    </agm-marker>-->

  <agm-marker
    *ngFor="let m of markers; let i = index"
    (markerClick)="markerClicked(m.label, i)"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [label]="m.label"
    [agmFitBounds]="true"
    [markerDraggable]="m.draggable"
    [iconUrl]="'//developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'">

  </agm-marker>
</agm-map>
