<div class="d-flex">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
    <li ngbNavItem="login" *ngIf="!isUserLoggedIn && !isAdminLoggedIn">
      <a ngbNavLink>Login</a>
      <ng-template ngbNavContent>
        <app-login></app-login>
      </ng-template>
    </li>
    <li ngbNavItem="admin-login" *ngIf="!isUserLoggedIn && !isAdminLoggedIn">
      <a ngbNavLink>Admin Login</a>
      <ng-template ngbNavContent>
        <app-admin-login></app-admin-login>
      </ng-template>
    </li>
    <li ngbNavItem="signup" *ngIf="!isUserLoggedIn && !isAdminLoggedIn">
      <a ngbNavLink>Sign Up</a>
      <ng-template ngbNavContent>
        <app-signup></app-signup>
      </ng-template>
    </li>
<!--    <li ngbNavItem="forgot-password" *ngIf="!isUserLoggedIn && !isAdminLoggedIn">-->
<!--      <a ngbNavLink>Forgot Password</a>-->
<!--      <ng-template ngbNavContent>-->
<!--        <app-forgot-password></app-forgot-password>-->
<!--      </ng-template>-->
<!--    </li>-->
    <li ngbNavItem="home" *ngIf="isUserLoggedIn || isAdminLoggedIn">
      <a ngbNavLink>Home Page</a>
      <ng-template ngbNavContent>
        <app-home></app-home>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="ml-4" style="width: 80%"></div>
</div>


