<div class="d-flex">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
    <li ngbNavItem="1">
      <a ngbNavLink> Posts API </a>
      <ng-template ngbNavContent>
        <app-posts-api></app-posts-api>
      </ng-template>
    </li>
    <li ngbNavItem="2">
      <a ngbNavLink> Albums API </a>
      <ng-template ngbNavContent>
        <app-albums-api></app-albums-api>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="ml-4" style="width: 80%"></div>
</div>



