table {
  margin: auto;
  width: 90%;
}

.action-button {
  padding: 10px;
  /*background-color: lightgoldenrodyellow;*/
  background-color: lightseagreen;
  color: white;
}

.action-button:hover {
  cursor: pointer;
  background-color: darkslategrey;
  text-decoration: none;
}

.alert-info {
  padding: 20px;
  margin: 20px auto;
  font-size: 24px;
  display: inline-block;
}

.anchor-tag {
  color: blue;
}

.anchor-tag:hover {
  color: darkslateblue;
  cursor: pointer;
  text-decoration: none;
}

.full-flex-center {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

/*.no-history{*/
/*  font-size: 30px;*/
/*  height: 80vh;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

.nothing-message {
  font-size: 30px;
  padding: 20px;
  color: #262437;
  background-color: lightgray;
  border: 2px solid #262437;
  border-radius: 5px;
}

/* ============================ Show Details Modal Styling ==========================================*/
.modal-header, .modal-footer{
  min-height: fit-content;
  background-color: #8078bf;
  color: whitesmoke;
  border: none;
  margin: 0;
  padding: 20p;
  display: flex;
  align-items: center;
}

.modal-header h1{
  margin: 0;
  padding: 0 30px;
}

.modal-header .close{
  margin: 0 20px;
  padding: 10px 20px;
}

.modal-body{
  padding: 1.5%;
  display: flex;
  flex-direction: column;
  margin: 0;

  justify-content: center;
  align-items: center;

  height: fit-content;

  background-color: #3d395d;
  color: whitesmoke;
}

.details-modal-total-price-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.details-modal-total-price-div > h3{
  font-size: 36px;
  padding: 10px;
  margin-bottom: 0;
}

.details-modal-horizontal-line{
  height: 3px;
  background-color: #262437;
  margin: 20px 20px;
}

.order-item-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order-item{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:  20px;
}

.order-item > h4{
  flex-basis: 50%;
  font-size: 18px;
  margin: 0;
}
