<ng-template #showDetailsModal let-modal>

  <div class="modal-header">
    <h1 class="modal-title" id="modal-basic-title"> Order Details </h1>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Closed')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <div class="details-modal-total-price-div">
      <h3>Total Bill</h3>
      <h3>{{selectedOrder.totalPrice}}</h3>
    </div>

    <div class="order-item-div" *ngFor="let orderItem of selectedOrder.orderedProducts">

      <div class="details-modal-horizontal-line"></div>

      <div class="order-item-info">

        <div class="order-item-product-image">
          <img [src]="orderItem.product.imageURL" [alt]="orderItem.product.name"
               style="max-width: 250px; max-height: 250px">
        </div>

        <div class="order-item">
          <h4> Name </h4>
          <h4> {{orderItem.product.name}}</h4>
        </div>
        <div class="order-item">
          <h4> Price </h4>
          <h4> $ {{orderItem.product.price}}</h4>
        </div>
        <div class="order-item">
          <h4> Product ID </h4>
          <h4> {{orderItem.product.productID}}</h4>
        </div>
        <div class="order-item">
          <h4> Description </h4>
          <h4> {{orderItem.product.description}}</h4>
        </div>
        <div class="order-item">
          <h4> Quantity </h4>
          <h4> {{orderItem.quantity}}</h4>
        </div>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Closed')"
            style="margin-left: 20px; margin-right: 12px">Close
    </button>
  </div>
</ng-template>


<div id="main-container">

  <div id="all-orders-container">
    <table mat-table [dataSource]="matTable" class="mat-elevation-z8"
           *ngIf="userOrders?.length > 0">

      <ng-container matColumnDef="order-id">
        <th mat-header-cell *matHeaderCellDef> Order ID</th>
        <td mat-cell *matCellDef="let order">
          {{order.orderID}}
        </td>
      </ng-container>

      <ng-container matColumnDef="order-time">
        <th mat-header-cell *matHeaderCellDef> Order Time</th>
        <td mat-cell *matCellDef="let order">{{order.orderTime}}</td>
      </ng-container>

      <ng-container matColumnDef="order-total">
        <th mat-header-cell *matHeaderCellDef> Order Total</th>
        <td mat-cell *matCellDef="let order">{{order.orderTotal}}</td>
      </ng-container>

      <ng-container matColumnDef="order-status">
        <th mat-header-cell *matHeaderCellDef> Order Status</th>
        <td mat-cell *matCellDef="let order">{{order.orderStatus}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action</th>
        <td mat-cell *matCellDef="let order">
          <a (click)="showDetails(showDetailsModal, order)" class="action-button">Details </a>
        </td>
      </ng-container>

      <!-- Table Row -->
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>

    <div  [ngClass]="isDataLoading? 'full-flex-center': 'full-flex-center'">
      <div *ngIf="isDataLoading">
        <loaders-css loader="line-scale" [scale]="2" color="black"></loaders-css>
      </div>
      <div *ngIf="!isDataLoading && userOrders?.length <= 0" class="nothing-message">
        You have not placed any orders yet.
      </div>
    </div>
  </div>

</div>
