#main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#search-field{
  display: flex;
  width: 100%;
}

#search-box-nav{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: whitesmoke;
  padding: 10px 20px;
  height: 60px;
}

#search-results-go-back-button{
  display: flex;
  flex-basis: 50%;
  justify-content: flex-start;
}

#search-results-go-back-button > button{
  margin-left: 40px;
  padding: 10px 20px;
  border: 2px solid #262437;
  border-radius: 5px;
  color: #262437;
  background-color: whitesmoke;
}

#search-results-go-back-button > button:hover {
  color: whitesmoke;
  background-color: #262437;
  border-radius: 5px;
}

#search-box-div{
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  justify-content: flex-start;
}

#search-box-div > form{
  max-width: fit-content;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

#search-results{
  margin-top: 40px;
  position: absolute;
  max-width: fit-content;
  background-color: #8078bf;
  color: whitesmoke;
}

#search-box-div > form > button{
  margin-left: 20px;
  padding: 8px 20px;
  border: 2px solid #262437;
  border-radius: 5px;
  color: #262437;
  background-color: whitesmoke;
}

#search-box-div > form > button:hover {
  color: whitesmoke;
  background-color: #262437;
}

#search-box-div > form > input{
  border: 2px solid #262437;
  color: #262437;
  padding: 7px;
  border-radius: 5px;
  background-color: transparent;
}

#search-box-div > form > input:focus{
  outline: none;
}


/*#search-results-go-back-button, #search-box-div{*/
/*  display: flex;*/
/*  flex-basis: 50%;*/
/*}*/

/*#search-box-div > form{*/
/*  display: flex;*/
/*}*/

/*#search-results-go-back-button{*/
/*  justify-content: start;*/
/*}*/

.search-result-item{
  padding: 15px 20px;
  font-size: 18px;
  border-top: 2px solid #262437;
}

.search-result-item:hover{
  background-color: #575186;
  cursor: pointer;
}

/*.search-result-item-horizontal-line {*/
/*  height: 2px;*/
/*  background-color: #262437;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  !*margin: 5px 5px;*!*/
/*}*/

/*aside{*/
/*  width: 40%;*/
/*}*/

.products{
  display: flex;
  /*  /*allow the flex children to align horizontally and wrap into new
  rows as the viewport width expands and shrinks:*/
  flex-wrap: wrap;
  justify-content: center;
}

/*#search-results-go-back-button{*/
/*  display: flex;*/
/*  justify-content: center;*/
/*}*/

/*For our design, we want 3 items per row and to wrap the rest to new rows as needed.
To get five per row, they’ll need to have a width of 33% (3 * 33 = 100).
Settings flex-basis: 33% would do the trick, but when we factor in padding,
it exceeds 100% and we’ll only get 2 per row. With 1.5% padding on either side
and 30% flex-basis, it’ll be just right.*/
.product-card{
  padding: 1.5%;
  flex-basis: 25%;
  /* so child elements can use flexbox stuff too! */
  display: flex;
  flex-direction: column;
  margin: 2%;

  background-color: #483d8b;
  color: #f5f5f5;
}

.product-card:hover{
  background-color: #251c51;
}

/*To make sure the images within fit nicely:*/
.product-image img{
  max-width: 100%;
}

.product-info{
  margin-top: 20px;
}

.product-name{
  font-size: 20px;
  color: whitesmoke;
}

.product-price{
  font-size: 16px;
  color: #d3d3d3;
}

.product-desc{
  font-size: 14px;
  color: #9ca5ac;
}

.add-to-cart-div{
  display: flex;
  justify-content: center;
}

/* ================================= Remove from cart and change quantity Section ================================ */
.added-to-the-cart-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cart-quantity-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto 10px;
  padding: 10px;
}

.cart-product-quantity{
  background-color: #3d395d;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  padding: 13px 26px;
  margin: 0;
}

.up-down-icons-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #8078bf;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.fa-angle-up{
  padding: 4px 8px;
  border-bottom: 2px solid #262437;
}

.fa-angle-up:hover{
  background-color: #575186;
}

.fa-angle-down{
  padding: 4px 8px;
  border-collapse: separate;
}

.fa-angle-down:hover{
  background-color: #575186;
}

.remove-from-cart-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 10px;
}

.full-flex-center{
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

#no-items-message-div{
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

.nothing-message {
  font-size: 30px;
  padding: 20px;
  color: #262437;
  background-color: #d3d3d3;
  border: 2px solid #262437;
  border-radius: 5px;
}
