<div id="main">

  <div id="search-field" *ngIf="allProducts.length > 0">
    <div id="search-box-nav">
      <div id="search-results-go-back-button">
        <button
                (click)="goBack()"
                *ngIf="isShowingSearchResult">
          Go Back
        </button>
      </div>
      <div id="search-box-div">
        <form>
          <input id="search-box-input" type="search" name="temp" [(ngModel)]="searchText" placeholder="Search Product"
                 (focus)="isSearchBoxFocused = true;"
                 (blur)="isSearchBoxFocused = isMouseOnSearchResults">
          <button id="search-box-button" type="submit" (click)="showSearchResult(searchText)">
            Search
          </button>
        </form>

        <div id="search-results" *ngIf="searchText && isSearchBoxFocused && (productSearchData | filterSearch: searchText).length > 0"
             (mouseenter)="isMouseOnSearchResults = true"
             (mouseleave)="isMouseOnSearchResults = false">
          <div *ngFor="let data of productSearchData | filterSearch: searchText"
               class="search-result-item"
               (click)="showClickedProduct(data)">
            {{data}}
          </div>
        </div>

      </div>
    </div>
  </div>

  <section class="products" *ngIf="searchResultProducts.length > 0 && isShowingSearchResult">
    <div class="product-card" *ngFor="let product of searchResultProducts; let i = index;"
         (mouseenter)="isCardHovered = true; hoveredItemNum = i"
         (mouseleave)="isCardHovered = false; hoveredItemNum = -1">
      <div class="product-image">
        <img [src]="product.imageURL" [alt]="product.name">
      </div>
      <div class="product-info">
        <p class="product-name">{{product.name}}</p>
        <p class="product-price">$ {{product.price}}</p>
        <p class="product-desc">{{product.description}}</p>
        <div class="add-to-cart-div">
          <button class="btn btn-primary"
                  *ngIf="isCardHovered && i === hoveredItemNum && !isProductInCart(product)"
                  (click)="addToCart(product)">
            Add to Cart
          </button>
        </div>

        <div *ngIf="isCardHovered && i === hoveredItemNum && isProductInCart(product)"
             class="added-to-the-cart-div">
          <div class="cart-quantity-div">
            <p class="cart-product-quantity">{{findProductInCart(product).quantity}}</p>
            <div class="up-down-icons-div">
              <i class="fa fa-angle-up" (click)="incrementQuantity(findProductInCart(product).product)"></i>
              <i class="fa fa-angle-down" (click)="decrementQuantity(findProductInCart(product).product)"></i>
            </div>
          </div>
          <div class="remove-from-cart-div">
            <button class="btn btn-danger" (click)="removeFromCart(findProductInCart(product).product)">
              Remove
            </button>
          </div>
        </div>

      </div>
    </div>

  </section>

  <div id="no-items-message-div" *ngIf="searchResultProducts.length <= 0 && isShowingSearchResult">
    <p class="nothing-message"> There are no products related to your search. </p>
  </div>


  <section class="products" *ngIf="allProducts.length > 0 && !isShowingSearchResult">
    <div class="product-card" *ngFor="let product of allProducts; let i = index;"
         (mouseenter)="isCardHovered = true; hoveredItemNum = i"
         (mouseleave)="isCardHovered = false; hoveredItemNum = -1">
      <div class="product-image">
        <img [src]="product.imageURL" [alt]="product.name">
      </div>
      <div class="product-info">
        <p class="product-name">{{product.name}}</p>
        <p class="product-price">$ {{product.price}}</p>
        <p class="product-desc">{{product.description}}</p>
        <div class="add-to-cart-div">
          <button class="btn btn-primary"
                  *ngIf="isCardHovered && i === hoveredItemNum && !isProductInCart(product)"
                  (click)="addToCart(product)">
            Add to Cart
          </button>
        </div>

        <div *ngIf="isCardHovered && i === hoveredItemNum && isProductInCart(product)"
             class="added-to-the-cart-div">
          <div class="cart-quantity-div">
            <p class="cart-product-quantity">{{findProductInCart(product).quantity}}</p>
            <div class="up-down-icons-div">
              <i class="fa fa-angle-up" (click)="incrementQuantity(findProductInCart(product).product)"></i>
              <i class="fa fa-angle-down" (click)="decrementQuantity(findProductInCart(product).product)"></i>
            </div>
          </div>
          <div class="remove-from-cart-div">
            <button class="btn btn-danger" (click)="removeFromCart(findProductInCart(product).product)">
              Remove
            </button>
          </div>
        </div>

      </div>
    </div>

  </section>

  <div [ngClass]="isDataLoading? 'full-flex-center': ''">
    <div *ngIf="allProducts?.length <= 0">
      <loaders-css loader="line-scale" [scale]="2" color="black"></loaders-css>
    </div>
  </div>

</div>
