<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Row</h4>
    <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">-->
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Dismissed')">
      <!-- &times; is the cross sign -->
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="myForm" (ngSubmit)="modal.close(myForm.value)">
      <!--       name input-->
      <div>
        <label>
          Name
          <!--          <input type="text" formControlName="name" (input)="validateName()" maxlength="10"-->
          <!--                 (keypress)="isCharacterValid($event)">-->
          <input type="text" formControlName="name" maxlength="10" (keypress)="isCharacterValid($event)">
        </label>
        <!-- touched tells it that it has focused out -->
        <p class="danger"
           *ngIf="!myForm.controls['name'].valid && myForm.controls['name'].touched">
          The name field is required.
        </p>
        <!--        <p class="danger"-->
        <!--           *ngIf="!isNameValid && myForm.controls['name'].dirty">-->
        <!--          The input can't be spaces.-->
        <!--        </p>-->
      </div>

      <!--      symbol input-->
      <div>
        <label>
          Symbol
          <!--          <input type="text" formControlName="symbol" (input)="validateSymbol()" maxlength="2"-->
          <!--                 (keypress)="isCharacterValid($event)">-->
          <input type="text" formControlName="symbol" maxlength="2" (keypress)="isCharacterValid($event)">
        </label>
        <!-- touched tells it that it has focused out -->
        <p class="danger"
           *ngIf="!myForm.controls['symbol'].valid && myForm.controls['symbol'].touched">
          The symbol field is required.
        </p>
        <!--        <p class="danger"-->
        <!--           *ngIf="!isSymbolValid && myForm.controls['symbol'].dirty">-->
        <!--          The input can't be spaces.-->
        <!--        </p>-->
      </div>

      <!--      Weight Input-->
      <div>
        <label>
          Weight
          <input type="number" formControlName="weight" max="300" min="0"
                 (keypress)="isKeyPressValid($event)"
                 (input)="validateWeight()">
        </label>
        <!-- touched tells it that it has focused out -->
        <p class="danger"
           *ngIf="!myForm.controls['weight'].valid && myForm.controls['weight'].touched">
          The weight field is required.
        </p>
        <p class="danger"
           *ngIf="!isWeightValid && myForm.controls['weight'].dirty">
          Weight should be a valid value
        </p>
      </div>

      <!--       Save Button-->
      <div class="modal-footer">
        <!--    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>-->
        <input type="submit" value="Save" [disabled]="!myForm.valid" class="btn btn-outline-dark">
      </div>
    </form>
  </div>
</ng-template>

<ng-template #confirmDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Dismissed')">
      <!-- &times; is the cross sign -->
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    Are you sure you want to delete this element?
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Dismissed')">Cancel</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Confirmed')">Save</button>
  </div>

</ng-template>


<div id="addElementTag">
  <a (click)="addElement(content)" style="margin-right: 10px">Add Element</a>
</div>

<table mat-table [dataSource]="matTable" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> Number</th>
    <td mat-cell *matCellDef="let elem">{{elem.position}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name</th>
    <td mat-cell *matCellDef="let elem">{{elem.name}}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight</th>
    <td mat-cell *matCellDef="let elem">{{elem.weight}}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol</th>
    <td mat-cell *matCellDef="let elem">{{elem.symbol}}</td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action</th>
    <td mat-cell *matCellDef="let element" class="action-link">
      <!-- <a (click)="editRow(element" style="margin-right: 10px">Edit</a>  -->
      <a (click)="editElement(element, content)" style="margin-right: 10px">Edit</a>
      <a (click)="deleteElement(element, confirmDelete)">Delete</a>
    </td>
  </ng-container>

  <!-- Table Row -->
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  <!--  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" (click)="rowClicked(row)"></tr>-->
</table>
