table{
  margin: auto auto 50px auto;
  width: 80%;
}

.danger{
  background-color: red;
  color: white;
}

a{
  padding: 10px;
  /*background-color: lightgoldenrodyellow;*/
  background-color: lightseagreen;
  color: white;
}

a:hover{
  cursor: pointer;
  background-color: darkslategrey;
}

#addElementTag{
  width: 20%;
  margin: 20px auto 20px auto;
}

#addElementTag a{
  padding: 10px;
  background-color: yellowgreen;
  color: black;
}

#addElementTag a:hover{
  cursor: pointer;
  color: white;
  background-color: darkolivegreen;
}





