<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirm Deletion</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Closed')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p> The reason is already used by a previous message, do you want to delete it? </p>
  </div>
  <div class="modal-footer">
    <div style="float: left">
      <button type="button" class="btn btn-secondary" (click)="modal.close('Delete Messages')">Delete Messages</button>
    </div>
    <div>
      <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Closed')"
        style="margin-left: 120px; margin-right: 8px">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Confirmed')">Confirm</button>
    </div>
  </div>
</ng-template>

<div class="main">

  <form [formGroup]="myForm" (ngSubmit)="saveOptions(myForm.value)" (change)="formChanged()">
    <div class="subjectSelect">
      <label>
        Select Subject? <br>
        <label>True</label>
        <input type="radio"
               formControlName="toTakeSubject"
               [value]="true">
        <br>
        <label> False </label>
        <input type="radio"
               formControlName="toTakeSubject"
               [value]="false">
        <br>
      </label>
    </div>

    <br>

    <div class="messageSelect">
      <label>
        Select Message? <br>
        <label>True</label>
        <input type="radio"
               formControlName="toTakeMessage"
               [value]="true">
        <br>
        <label> False </label>
        <input type="radio"
               formControlName="toTakeMessage"
               [value]="false">
        <br>
      </label>
    </div>

    <br>

    <div class="reason">
      <label>
        Enter a reason to the list:
        <input type="text" formControlName="reason"
               maxlength="100" placeholder="Enter a Reason.."
               (input)="validateReason()">
      </label>

      <!-- A button without any defined 'type' attribute acts as a submit -->
      <button type="button" (click)="addReason(myForm.controls['reason'].value)"
              [disabled]="myForm.controls['reason'].invalid">
        Add Reason
      </button>

      <div class="danger" *ngIf="!myForm.controls['reason'].valid && myForm.controls['reason'].touched">
        <p>
          The reason field is required.
        </p>
      </div>
      <div class="danger" *ngIf="!isReasonValid && myForm.controls['reason'].dirty">
        <p>
          The reason field can't be spaces.
        </p>
      </div>

      <!-- Display Reasons -->
      <div>
        <ul>
          <li *ngFor="let reason of reasonsList">
            {{reason.reasonText}}
            <button type="button" (click)="deleteReason(content, reason)"> Delete</button>
          </li>
        </ul>
      </div>
    </div>

    <br>
    <br>
    <input type="submit" value="Save Changes" [disabled]="myForm.invalid || !hasFormChanged">

    <div class="info">
      <p *ngIf="toShowMessage"> Your changes have been saved. </p>
    </div>

  </form>
</div>
