.main{
  width: 80%;
  margin: 50px auto;
}

.danger > p{
  background-color: indianred;
  color: whitesmoke;
  display: inline-block;
  padding: 5px;
  border: 1px ridge darkred;
}

.info > p{
  background-color: darkseagreen;
  color: whitesmoke;
  display: inline-block;
  padding: 5px;
  border: 1px ridge green;
}
